.checkbox-container {
  .checkbox-container__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 38px;
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 13px;
    margin-left: 28px;
    line-height: 16px;
    gap: 6px;
  }
  .checkbox-container__organiztion {
    color: #a2a0a1;
  }
  .checkbox-container__registration {
    color: #fcc875;
  }
}
