@import "../commonStyles.scss";

.info-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: info-box;

  .info-card__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .info-card__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
