.input-date {
  // height: 40px;
  .input-date__title {
    color: #a2a0a1;
    font-size: 16px;
  }
  .react-date-picker__calendar {
    width: 280px;
  }
  .react-date-picker {
    height: 100%;
    width: 100%;

    .input-date__clear-icon {
      width: 12px;
      height: 12px;
      transition: fill 0.2s;
    }
    .input-date__calendar-icon {
      width: 15px;
      height: 15px;
      transition: fill 0.2s;
    }

    &.react-date-picker--closed {
      .input-date__clear-icon {
        &:hover {
          fill: #f51010;
        }
      }
      .input-date__calendar-icon {
        &:hover {
          fill: #119be0;
        }
      }
    }

    &.react-date-picker--open {
      .input-date__calendar-icon {
        fill: #0e7abf;
      }
      .react-date-picker__wrapper {
        box-shadow: 0px 0px 1px 1px #1ea7ff;
        border-color: #0e7abf;
      }
    }
  }

  .react-date-picker__inputGroup__input {
    background: none;
  }

  .react-calendar__navigation {
    padding: 0 10px;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;

    & > button {
      transition: color 0.3s;
      &:enabled:hover {
        background: none;
      }
    }

    .react-calendar__navigation__arrow {
      min-width: 22px;
      color: #a2a0a1;
      padding: 0;
      font-size: 24px;
      &:enabled:hover {
        color: #585858;
      }
    }

    .react-calendar__navigation__label {
      color: #585858;
      font-weight: bold;
      font-size: 16px;

      &:enabled:hover {
        color: #0e7abf;
      }
    }
  }

  .react-date-picker__wrapper {
    border: 1px solid #a2a0a1;
    border-radius: 5px;
    &:hover {
      border-color: #1ea7ff;
    }
  }

  .react-date-picker__inputGroup {
    padding: 10px;
    color: #585858;
    font-size: 16px;
  }

  .react-calendar__tile {
    transition: background 0.3s, border 0.3s;
  }

  .react-calendar__month-view__days__day {
    color: #585858;
  }

  .react-calendar__tile--now {
    background: #0e7abf;
    color: white;

    &:enabled:hover,
    &enabled:focus {
      background: #0e7abf;
      color: white;
    }
  }

  .react-calendar__tile--now {
    color: white;
    background: #119be0;
  }

  .react-calendar__month-view__days__day--weekend {
    color: #f51010;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: #e2e2e2;
  }

  .react-calendar__tile--active {
    background: #0e7abf;
    color: white;
  }
}
