$color-blue: #0e7abf;
$color-green: #238495;
$color-gray: #a2a0a1;

.progress {
  display: flex;
  width: 1166px;
  height: 181px;

  // padding-top: 53px;
  // box-sizing: border-box;
  .progress__COS,
  .progress__lab,
  .progress__organ {
    position: absolute;
    display: flex;
    left: calc(50% - 30px);
    p {
      color: $color-green;
      font-size: 16px;
      margin: 0;
      margin-left: 9.6px;
    }
  }

  .progress__lab {
    width: 228px;
    left: calc(50% - 125px);
    top: -141px;
    p {
      color: $color-gray;
    }
  }

  .progress__organ {
    left: calc(50% - 97px);
    p {
      color: $color-blue;
    }
  }

  .progress__information-wrapper {
    display: flex;
    height: 35px;
    align-items: center;
  }

  .progress__firstStep {
    min-width: 56px;
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    position: relative;
    align-items: flex-end;

    .progress__piece {
      height: 35px;
      min-width: 56px;
      transform: translateY(-76px);
      display: flex;
      align-items: center;

      .progress__information {
        width: 314px;
        height: 35px;
        background: url("./svg/borderGreen.svg") left bottom repeat-x;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          margin: 0;
          font-size: 16px;
          color: $color-green;
        }
      }
      .progress__dot {
        border-radius: 50%;
        border: $color-green solid 2px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          position: absolute;
          margin: 0;
          transform: translate(-10px, -16px);
          color: $color-green;
          font-size: 11px;
        }
      }

      .progress__dot.finished {
        background: $color-green;
      }

      .progress__Rightline {
        height: 1px;
        box-sizing: border-box;
        border-bottom: 1px solid $color_blue;
        width: 38px;
        transform: translateX(2px);
      }
    }

    .progress__border {
      position: absolute;
      transform: translateY(-26px);
      height: 50px;
      width: 100%;
      border: 1px dotted $color-green;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top: none;
    }
  }

  .progress__mainSteps {
    display: flex;
    align-items: flex-end;
    // height: 177px;
    // transform: translatey(53px);
    justify-content: space-between;
    flex-grow: 1;
    position: relative;

    .progress__border {
      position: absolute;
      transform: translateY(-26px);
      height: 50px;
      width: 100%;
      border: 1px dotted $color-blue;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top: none;
    }

    .progress__bar {
      transform: translateY(-76px);
      .progress__piece {
        position: relative;
        height: 35px;
        // min-width: 56px;
        display: flex;
        align-items: center;

        .progress__Rightline {
          position: relative;
          z-index: 0;
          height: 1px;
          box-sizing: border-box;
          border-bottom: 1px solid $color_blue;
          width: 36px;
          transform: translateX(2px);
        }

        .progress__Leftline {
          z-index: 0;
          height: 1px;
          box-sizing: border-box;
          border-bottom: 1px solid $color_blue;
          width: 36px;
          transform: translateX(-2px);
        }

        .progress__information {
          width: 314px;
          height: 35px;
          background: url("./svg/borderBlue.svg") left bottom repeat-x;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            margin: 0;
            font-size: 16px;
            color: $color-blue;
          }
        }

        .progress__dot {
          position: relative;
          display: flex;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          p {
            position: absolute;
            top: 0;
            font-size: 11px;
            color: $color_blue;
          }
        }

        .progress__dot.finished {
          background: $color_blue;
          border: none;
        }

        .progress__dot.big {
          border: $color-blue solid 2px;
          width: 16px;
          height: 16px;
          p {
            position: absolute;
            margin: 0;
            transform: translate(-10px, -16px);
            font-size: 11px;
          }
        }
        .progress__dot.small {
          border: $color-blue solid 1.5px;
          width: 12px;
          height: 12px;
          p {
            position: absolute;
            margin: 0;
            transform: translate(-10px, -16px);
            font-size: 11px;
          }
        }
      }

      .progress__piece.small {
        .progress__Rightline {
          width: 42px;
        }
      }
    }

    .progress__middleSteps {
      display: flex;
      position: relative;
      justify-content: space-between;

      .progress__information {
        width: 314px;
        height: 35px;
        background: url("./svg/borderGray.svg") left bottom repeat-x !important;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          margin: 0;
          font-size: 16px;
          color: $color-gray !important;
        }
      }

      .progress__border {
        border-color: $color-gray;
        min-width: 175px;
        transform: rotate(180deg) translate(25px, 116px);
      }

      .progress__piece {
        .progress__dot.finished {
          background: $color-gray !important;
          border: none;
        }
        .progress__dot {
          border-color: $color-gray !important;
          p {
            color: $color-gray;
          }
        }
        .progress__Leftline,
        .progress__Rightline {
          border-color: $color-gray;
        }
      }
      .progress__piece.small {
        .progress__Leftline {
          width: 42px;
          height: 1px;
          box-sizing: border-box;
          border-bottom: 1px solid $color-gray;
          // width: 36px;
          transform: translateX(-38px);
          position: absolute;
        }
      }

      .progress__piece.big {
        .progress__Leftline {
          z-index: 1;
          height: 1px;
          box-sizing: border-box;
          border-bottom: 1px solid $color-gray;
          width: 36px;
          transform: translateX(-38px);
          position: absolute;
        }
      }
    }
  }
}
