.button {
  cursor: pointer;
  // display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  // border-radius: 3px;
  background-color: transparent;
  height: 37px;
  padding: 0;
  // transition: fill 0.2s;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #f6f7f9;
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button--large {
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 9px 0 9px 0;
  max-width: 179px;
  width: 179px;
  border-radius: 5px;
}

.button--medium {
  font-size: 16px;
  line-height: 18px;
  padding: 9px 0 9px 0;
  max-width: 152px;
  width: 152px;
  border-radius: 5px;
}

.button--small {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 4px 20px 3px 20px;
  max-width: 140px;
  width: 140px;
  border-radius: 3px;
}

.button--dashed {
  border: 1px dashed;
}

.button--no-border {
  border: none;
}

.button--default-color {
  color: #0b7abf;
  border-color: #0b7abf;
  background-color: #ffffff;
}

.button--blue {
  color: #0b7abf;
  border: 1px solid #0b7abf;
  background-color: #f1f7fb;
}

.button--solid-blue {
  color: #fff;
  background-color: #0b7abf;

  &:active {
    background-color: transparentize($color: #0b7abf, $amount: 0.5);
  }
}

.button--green {
  color: #238495;
  border-color: #238495;
  background-color: #e8f2f4;
}

.button--black {
  color: #121212;
  border-color: #121212;
  border: 1px solid black;
}

.button--gray {
  background-color: #a2a0a1;
  color: white;
  &:active {
    background-color: #585858;
  }
}

.button--shadow {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}
