.radio-button {
  width: 100%;
  display: flex;
  align-items: center;
  // width: max-content;
  padding: 8px 30px 10px 15px;
  background-color: #ecedec;
  border-radius: 5px;

  &--noborder {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &--blue {
    background-color: #e8f2f4;
    color: #05406f;
  }

  .radio-button__text {
    color: #585858;
    font-size: 16px;
    display: flex;
    align-items: center;
    line-height: 15px;
  }

  &--disabled {
    pointer-events: none;
  }
}

// .radio-button-organization {
//   background-color: #ecedec;
//   box-shadow: none;
//   border: 1px solid #e8f2f4;
//   box-sizing: border-box;
//   width: auto;

//   &:not(:last-child) {
//     margin-bottom: 15px;
//   }

//   .radio-button__text {
//     color: #585858;
//   }

//   .radio-button__box {
//     background-color: #585858;
//   }

//   &--current {
//     background-color: #e8f2f4;
//     box-shadow: 0 0 6px #23849580;

//     .radio-button__text {
//       color: #05406f;
//     }

//     .radio-button__box {
//       background-color: #0e7abf;
//     }
//   }
// }

.radio-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  min-width: 15px;
  background-color: #0e7abf;
  border-radius: 50%;
  position: relative;
  margin-right: 7px;
  transition: all 0.3s;
  // position: relative;
  & > span {
    width: 13px;
    height: 13px;
    min-width: 12px;
    border-radius: 50%;
    background-color: white;
    display: block;
    transition: background-color 0.3s;
  }
}

// .radio-button__box:before {
//   content: "";
// position: absolute;
// width: 13px;
// height: 13px;
// left: 1px;
// top: 1px;
// border-radius: 50%;
// background-color: white;
// display: block;
// transition: background-color 0.3s;
// }

// .radio-button--otp {
//   width: auto;
// }

.radio-button input[type="radio"] {
  display: none;
}
.radio-button input[type="radio"]:checked + .radio-button-box {
  & > span {
    width: 11px;
    height: 11px;
    min-width: 11px;
    background-color: #0e7abf;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
  }
}

.radio-button input[type="radio"]:disabled + .radio-button__box {
  background-color: #a2a0a1;
}

.radio-button input[type="radio"]:disabled + .radio-button__box::before {
  background-color: white;
}

.radio-button input[type="radio"]:checked:disabled + .radio-button__box::before {
  background-color: #a2a0a1;
}

.radio-button input[type="radio"]:disabled ~ .radio-button__text {
  transition: all 0.3s;
  color: #a2a0a1;
}

.radio-button:hover {
  cursor: pointer;

  input[type="radio"]:not(:disabled) + .radio-button__box {
    box-shadow: 0 0 3px #0e7abf70;
  }
}
