$color-white: #ffffff;
$color-black: #121212;
$color-red: #ba4545;
$color-light-red: #f51010;

$color-blue: #0e7abf;
$color-ligh-blue: #1ea7ff;
$color-dark-green: #238495;
$color-light-green: #e8f2f4;

$color-gray: #585858;
$color-lightgray: #a2a0a1;
$color-gray-border: #707070;

$block-size: 1200px;

@mixin disable-mouse-over-input {
  &:not(.disable):hover {
    border-color: $color-lightgray;
    fill: $color-lightgray;
    stroke: $color-lightgray;
  }
  &:not(.disable):focus {
    box-shadow: none;
    border-color: $color-lightgray;
    fill: $color-lightgray;
    stroke: $color-lightgray;
  }
}

@mixin mouse-over-input {
  &:hover {
    border-color: #1ea7ff;
  }
  &:focus {
    box-shadow: 0px 0px 1px 1px #1ea7ff;
    border-color: #0e7abf;
  }
}

.arrow-icon {
  stroke: $color-lightgray;

  &:hover {
    stroke: $color-blue;
  }

  &.active {
    transform: rotate(180deg);
  }

  &.disabled:hover {
    stroke: $color-lightgray;
  }
}

.clear-icon {
  &:hover {
    fill: $color-light-red;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

input {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}
