.test-component {
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  
  .test-tag {
    width: 136px;
    height: 174px;
    background-color: red;
  }
  
  .test-background {
    background-color: red;
  }
  