@import "../commonStyles.scss";

.border-card {
  width: 1200px;
  display: flex;
  // flex-direction: column;
  padding: 17px 30px 30px 40px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.161);
  border-left: 5px solid $color-blue;
  box-sizing: border-box;
  justify-content: space-between;

  .border-card__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 23px;
  }

  .border-card-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  .border-card-content__information {
    width: 800px;
    text-align: justify;
  }

  .border-card__tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 292px;
    margin-top: 13px;
    gap: 20px;
    justify-content: flex-end;
  }

  .border-card__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
